/* ===== Body ===== */

body{
    background-color: #dfd9e2;
}

/* ===== Header ===== */

header{
    color: #0a100d;
    text-align: center;
    background-color: #2274a5;
    padding: 5px;
    margin: auto;
    
    .sentence{
    margin-bottom: 35px;
}

}


#title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


/* ===== Main ===== */
main{
    text-align: center;
}


/* ===== Hero ===== */
.hero{

 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;

}

/* ===== Buttons ===== */

.card-button {
    color: white;
    background-color: rgb(232, 115, 48);
    font-size: medium;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    transition: 0.3s;
}

.card-button:hover {
    background-color: rgb(86, 36, 1);
    box-shadow: 0px 4px 10px gray;
}

/* ===== Cards ===== */

.cards-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;

}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 16px;  
  box-shadow: 0px 4px 10px gray; 
  padding: 18px;
  margin-top: 22px; 
}
.card-input {
    width: 80%;
    max-width: 350px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.card-input:focus {
    outline: none;
    border-color: rgb(232, 115, 48);
}

/* ===== Task Card ===== */

.task-item{
    background-color: #dfd9e2;
    margin: 3px 0;
    padding: 5px 10px;
    border-radius: 10px;

    background-color: #dfd9e2;
    margin: 6px 0;
    padding: 10px 14px;

    border: 1px solid #c5bec9;
    border-radius: 10px;

    text-align: left;
}

.task-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-card h3 {
    margin-bottom: 10px;
}

.task-message {
    margin: 5px 0 15px;
    text-align: center;
}

.task-input {
    width: 80%;
    max-width: 350px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.task-input:focus {
    outline: none;
    border-color: rgb(232, 115, 48);
}

.habit-card{

}


.goal-card{
 
}

.calendar-card{
  
}

.note-card{
   
}

/* ===== Rodapé ===== */

footer{
    margin-top: 350px;
    text-align: center;
}

/* ===== Responsive ===== */

@media (min-width: 600px) {

    .cards-container {
    grid-template-columns: repeat(2, 1fr);
    }

}

